---
layout: default
author_profile: true
classes: wide
---

<a href="{{ "/" | relative_url }}" class="site-header-link">
  <header class="site-header">
    <img src="/assets/images/header.png" alt="Header">
    <h1 class="header-title">Sheng Xu</h1>
  </header>
</a>




<div class="project-container">

  <h1 class="project-title">
    <a href="{{ '/' | relative_url }}" class="breadcrumb-link">Works &gt;</a>
    {{ page.title }}
  </h1>

  {% if page.subtitle %}
    <h2 class="project-subtitle">{{ page.subtitle }}</h2>
  {% endif %}

  <div class="project-content">
    {{ content }}
  </div>

</div>

    

<div class="spacer"></div>
<section class="selected-works">
  <div class="title-separator">
    <span class="diamond"></span>
  </div>
</section>